.app-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-field{
    animation: fadeIn ease 2s;
    display: flex;
    margin-top: 40%;
}

@media (max-width: 380px)
{
    .input-field{
        display: block;
    }
    .butons-holder{
        justify-content: center;
        display: flex;
        margin-top: 10px;
    }
    #btn-search, #reload-all{
        padding: 8px;
    }
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

#input-search{
    background: transparent;
    height: 25px;
    border-radius: 5px;
    outline: none;
    border: #ffffff 1px solid;
    padding: 5px;
    font-family: 'Raleway', serif;
    font-weight : bold;
    font-size: 18px;
    color: white;
    
}

#input-search::placeholder{
    color: #c4c4c4;
    padding: 0 5px;
}

#btn-search{
    border: none;
    width: 40px;
    border-radius: 5px;
    margin-bottom: 1px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Raleway', serif;
    font-weight: 700;
}

#reload-all{
    border: none;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-family: 'Raleway', serif;
    font-weight: 500;
}
#btn-search, #reload-all{
    padding: 10px;
}

#btn-search:hover{
    background: rgb(185, 185, 185);
}
#reload-all:hover{
    background: rgb(185, 185, 185);
}