

.imagem1 {

  float: left;
  margin-left: 10%;
  width: 20%;
  margin-top: 7%;


}

.primeiraFoto {

 
  
  width: 71%;
  margin-top: 35%;

}

h1,
p,
h3 {

   color: #FFFFFF;
  font-family: Raleway;
}

.imagem2 {

  float: left;
  margin-left: 12%;
  width: 20%;
  margin-top: 7%;
  
}

.segundaFoto {
  
  width: 71%;
  margin-top: 35%;


}

.imagem3 {

  float: left;
  margin-left: 10%;
  width: 20%;
  margin-top: 7%;

}

.terceiraFoto {

  width: 71%;
  margin-top: 35%;


}

.nomeTerceiro  {

  margin-left: 8%;
}




.linkedinFoto {

  width: 50px;
  height: 50px;
  margin-left: -21%;
  margin-top: 4%;



}

.githubFoto {

  width: 50px;
  height: 50px;
  margin-left: 10%;
}